<div>
  <select >
    <option *ngFor="let item of dataGetFormats" [value]="item.id" >
      <span  *ngIf="item.type == 1"  >
        {{item.id}}
      </span>
    </option>
</select>

<div *ngFor="let item of dataGetFormats">

    <input type="text" [value]="item.id" disabled>
    <input type="text" [value]="item.format" disabled>
    <input type="text" [value]="item.formatDisplay">
    <input type="text" [value]="item.type" disabled>

</div>
<button>Enviar</button>
</div>


